---
interface Props {
  caption: string;
  fullWidth?: boolean;
  width?: string;
  height?: string;
}

const { caption, fullWidth = false, width, height } = Astro.props;
---

<figure
  class:list={["content-section", { "full-width": fullWidth }]}
  style={width ? `max-width: ${width};` : undefined}
>
  <div
    class="image-wrapper"
    style={width || height
      ? `${width ? `max-width: ${width};` : ""} ${height ? `height: ${height};` : ""}`
      : undefined}
  >
    <slot />
  </div>
  <figcaption>{caption}</figcaption>
</figure>

<style>
  figure {
    background-color: var(--color-light);
    margin: 0;
    padding: 1.5rem;
    border-radius: var(--radius);
    border: 1px solid var(--color);
    align-self: flex-start;
    height: fit-content;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }

  .image-wrapper :global(img) {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
  }

  figcaption {
    margin-top: 1rem;
    font-variant: small-caps;
    color: var(--color-dark);
    text-align: left;
    font-size: 0.9rem;
  }

  /* Responsive mobile */
  @media (max-width: 768px) {
    .image-wrapper {
      /*padding: 1.5rem;*/
    }

    figcaption {
      font-size: 0.8rem;
    }
  }

  /* Responsive large screens */
  @media (min-width: 1440px) {
    .image-wrapper {
      /*padding: 2.5rem;*/
    }

    figcaption {
      font-size: 1rem;
    }
  }
</style>
