---
import ProjectPersonal from "../../layouts/ProjectPersonal.astro";
import Section from "../../components/project/Section.astro";
import Learnings from "../../components/project/Learnings.astro";
import Keywords from "../../components/project/Keywords.astro";
import heroImage from "../../assets/perso/galleries/hero.png";
---

<ProjectPersonal
  title="Galleries"
  year="2021 - présent"
  image={heroImage}
  externalLink="https://romu70.github.io/galleries/"
>
  <Section title="Contexte" fullWidth>
    <p>
      Passionné par les polices de caractères et le street art, je collecte des
      photos, qui s'accumulent sur mon téléphone depuis des années.
    </p>
    <p>
      Comme j'aime beaucoup l'affichage "Galerie" de DuckDuckGo, je me suis
      lancé dans le développement d'une galerie virtuelle pour exposer les
      images capturées aufil du temps.
    </p>
  </Section>

  <Section title="Challenge">
    <p>Avec ce projet, je visais plusieurs objectifs :</p>
    <ul class="list-arrow">
      <li>Aiguiser mes compétences en développement web</li>
      <li>Créer une galerie performante et esthétique</li>
      <li>Gérer efficacement de nombreuses images</li>
      <li>Approfondir l'approche composants en web</li>
    </ul>
  </Section>

  <Section title="Actions">
    <h3>Choix de la stack</h3>
    <p>
      J'ai choisi Astro sur les conseils d'un développeur front-end avec qui je
      travaillais, <a
        href="https://www.linkedin.com/in/guillaume-denier/"
        target="_blank">Guillaume Denier</a
      >. Il m'a vanté les mérites de cette solution : simplicité,performances,
      respect des standards et facilité d'évolution selon mamontée en
      compétences.
    </p>
    <p>Promesses tenues !</p>
    <h3>Hébergement sur GitHub Pages</h3>
    <p>
      Le code est hébergé sur GitHub. Galleries est un site statique, je n'y
      collecte aucune donnée. L'hébergement sur GitHub Pages était un choix
      naturel compte tenu du pipeline CI/CD totalement intégré.
    </p>
    <h3>Développement d'une galerie responsive</h3>
    <p>
      Astro fournissait le support parfait via ses Content Collections. Il m'a
      cependant fallu développer en TypeScript tout le fonctionnement de la
      galerie : gestion du format des images (portrait vs paysage), gestion de
      la navigation, etc.
    </p>
    <h3>Organisation des collections par thème</h3>
    <p>
      Les 2 galeries reposent sur les Content Collection de Astro. Et pour
      bénéficier d'une meilleure connaissance du système, l'une est en markdown,
      l'autre en JSON.
    </p>
    <h3>Outil de transfert et traitement des images</h3>
    <p>
      A l'usage, le traitement des images réalisé à la main s'est avéré très
      chronophage. Grâce à l'IA, j'ai pu réaliser un script qui prend en charge
      une grande partie de ce travail :
    </p>
    <ul class="list-arrow">
      <li>Redimensionnement (limite à 1600px)</li>
      <li>Extraction de la position géographique</li>
      <li>Affectation automatique des métadonnées (position, lieu et date)</li>
    </ul>
    <p>
      Je suis passé d'environ 10-15 mns de travail par image à ce même temps
      pour en traiter 10. Ce temps gagné me permet de mettre à jour les galeries
      plus souvent et plus rapidement.
    </p>
  </Section>

  <Learnings>
    <h2>Apprentissages et Résultats</h2>
    <ul class="list-arrow">
      <li>Site fonctionnel qui expose mes collections</li>
      <li>Reproduction fidèle de la galerie de DuckDuckGo</li>
      <li>Compétences TypeScript et JavaScript renforcées</li>
      <li>
        Ce projet m'a aussi permis de rencontrer des artistes exposés ici, comme
        <strong>Ador</strong>, <strong>Ratz One</strong> et <strong
          >Stend</strong
        >, et d'avoir la permission de reproduire leur travail.
      </li>
    </ul>
  </Learnings>

  <Keywords>
    <span class="keyword">Astro</span>
    <span class="keyword">Galerie</span>
    <span class="keyword">GitHub Pages</span>
    <span class="keyword">JavaScript</span>
    <span class="keyword">Street art</span>
    <span class="keyword">TypeScript</span>
    <span class="keyword">Typographie</span>
  </Keywords>
</ProjectPersonal>
