@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: #264059; /* Bleu */
    --primary-color: #fdf0d5; /* Cream */
    --accent-color: #e74c3c; /* Rouge */
}

/* Base styles */
html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    background-image: url("../assets/linen.svg");
    margin: 0;
}

/* Typography */
h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    color: var(--primary-color);
    font-style: italic;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

/* Ajuster la taille de base pour les écrans plus petits */
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

/* Ajuster la taille de base pour les écrans plus grands */
@media (min-width: 1440px) {
    html {
        font-size: 18px;
    }
}
