---
// import Logo from "../assets/logo.svg";
---

<div class="container">
    <!-- <Logo /> -->

    <h1>Romuald Tisserand</h1>
    <h2>Product Manager & Designer</h2>
    <p>romuald@rinno.fr</p>
    <p>+33 666 72 99 63</p>
    <h2>Ce site est en cours de construction</h2>
</div>

<style>
    /* Layout utilities */
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 95vh;
        flex-direction: column;
    }

    h2 {
        text-align: center;
    }
</style>
