---

---

<!-- TODO: improve with SVG component as soon as SVG component are out...Astro 5.7 -->
<div id="container">
  <!-- <img src={Logo.src} width="280" alt="Homepage" /> -->
  <svg
    width="280"
    height="120"
    viewBox="0 0 280 120"
    fill="#EAF8BF"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M225.898 50.0636C223.029 48.0971 219.614 47.0842 216.136 47.1684L216.132 47.1685C207.178 47.375 199.927 54.8524 199.977 63.8217V63.8239C199.989 66.3209 200.567 68.7827 201.667 71.0244C202.767 73.2651 204.36 75.2276 206.326 76.7645C207.471 77.6557 208.397 78.7959 209.034 80.0984C209.527 81.1045 209.837 82.187 209.954 83.2959H223.119C223.238 82.1783 223.554 81.0878 224.052 80.075C224.694 78.7723 225.623 77.6324 226.77 76.7411C229.502 74.5935 231.49 71.6407 232.451 68.3007C233.412 64.9579 233.297 61.3971 232.121 58.1236C230.945 54.8501 228.768 52.03 225.898 50.0636ZM215.969 40.1704C220.915 40.051 225.774 41.4922 229.856 44.2895C233.938 47.0872 237.035 51.0994 238.709 55.7568C240.382 60.4142 240.546 65.4802 239.178 70.2361C237.809 74.9921 234.978 79.1963 231.086 82.2524L231.069 82.2655C230.758 82.5067 230.506 82.8155 230.332 83.1686C230.159 83.5201 230.067 83.9061 230.065 84.2978V84.79C230.065 86.2502 229.485 87.6507 228.452 88.6832C227.42 89.7158 226.019 90.2959 224.559 90.2959H208.512C207.052 90.2959 205.651 89.7158 204.619 88.6832C203.586 87.6507 203.006 86.2503 203.006 84.79V84.2907C203.005 83.9043 202.917 83.523 202.747 83.1759C202.577 82.8283 202.33 82.5241 202.024 82.2864L202.02 82.2827C199.218 80.0944 196.949 77.2997 195.383 74.1086C193.817 70.9181 192.994 67.4144 192.977 63.8604M215.969 40.1704C203.186 40.4664 192.907 51.0854 192.977 63.8582ZM216.245 54.0362C216.889 52.2138 218.889 51.259 220.711 51.9035C222.932 52.6889 224.888 54.0798 226.36 55.919C227.831 57.7582 228.759 59.9723 229.037 62.311C229.266 64.2304 227.896 65.9719 225.976 66.2007C224.057 66.4295 222.315 65.059 222.087 63.1396C221.962 62.0976 221.549 61.1112 220.894 60.2919C220.238 59.4725 219.367 58.8528 218.377 58.5029C216.555 57.8584 215.6 55.8585 216.245 54.0362ZM203.006 95.8224C203.006 93.8894 204.573 92.3224 206.506 92.3224H226.565C228.498 92.3224 230.065 93.8894 230.065 95.8224C230.065 97.7554 228.498 99.3224 226.565 99.3224H206.506C204.573 99.3224 203.006 97.7554 203.006 95.8224Z"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M216.215 20C218.741 20 220.788 22.0247 220.788 24.5224V29.0447C220.788 31.5423 218.741 33.5671 216.215 33.5671C213.689 33.5671 211.641 31.5423 211.641 29.0447V24.5224C211.641 22.0247 213.689 20 216.215 20Z"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M251.463 30.3693C253.249 32.1354 253.249 34.9988 251.463 36.7648L246.889 41.2872C245.103 43.0533 242.207 43.0533 240.421 41.2872C238.635 39.5211 238.635 36.6577 240.421 34.8916L244.995 30.3693C246.781 28.6032 249.676 28.6032 251.463 30.3693Z"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M180.967 30.3693C182.753 28.6032 185.649 28.6032 187.435 30.3693L192.008 34.8916C193.794 36.6577 193.794 39.5211 192.008 41.2872C190.222 43.0533 187.326 43.0533 185.54 41.2872L180.967 36.7648C179.181 34.9988 179.181 32.1354 180.967 30.3693Z"
    ></path>
    <path
      d="M137.173 87.78V60.64C137.173 56.4693 138.093 52.82 139.933 49.692C141.834 46.564 144.441 44.1413 147.753 42.424C151.065 40.6453 154.837 39.756 159.069 39.756C163.362 39.756 167.134 40.6453 170.385 42.424C173.697 44.1413 176.273 46.564 178.113 49.692C180.014 52.82 180.965 56.4693 180.965 60.64V87.78H172.501V60.732C172.501 57.9107 171.857 55.488 170.569 53.464C169.342 51.3786 167.686 49.784 165.601 48.68C163.577 47.576 161.4 47.024 159.069 47.024C156.738 47.024 154.53 47.576 152.445 48.68C150.421 49.784 148.765 51.3786 147.477 53.464C146.25 55.488 145.637 57.9107 145.637 60.732V87.78H137.173Z"
    ></path>
    <path
      d="M79.9426 87.78V60.64C79.9426 56.4693 80.8626 52.82 82.7026 49.692C84.604 46.564 87.2106 44.1413 90.5226 42.424C93.8346 40.6453 97.6066 39.756 101.839 39.756C106.132 39.756 109.904 40.6453 113.155 42.424C116.467 44.1413 119.043 46.564 120.883 49.692C122.784 52.82 123.735 56.4693 123.735 60.64V87.78H115.271V60.732C115.271 57.9107 114.627 55.488 113.339 53.464C112.112 51.3786 110.456 49.784 108.371 48.68C106.347 47.576 104.169 47.024 101.839 47.024C99.508 47.024 97.3 47.576 95.2146 48.68C93.1906 49.784 91.5346 51.3786 90.2466 53.464C89.02 55.488 88.4066 57.9107 88.4066 60.732V87.78H79.9426Z"
    ></path>
    <path
      d="M58.0206 87.78V40.86H66.5766V87.78H58.0206ZM62.3446 33.408C60.8113 33.408 59.462 32.856 58.2966 31.752C57.1926 30.5867 56.6406 29.2373 56.6406 27.704C56.6406 26.1707 57.1926 24.852 58.2966 23.748C59.462 22.5827 60.8113 22 62.3446 22C63.878 22 65.1966 22.5827 66.3006 23.748C67.466 24.852 68.0486 26.1707 68.0486 27.704C68.0486 29.2373 67.466 30.5867 66.3006 31.752C65.1966 32.856 63.878 33.408 62.3446 33.408Z"
    ></path>
    <path
      d="M27.1978 87.78V54.2C27.1978 50.0293 28.3631 46.7787 30.6938 44.448C33.0858 42.056 36.3671 40.86 40.5378 40.86H50.1978V48.128H42.1018C40.0778 48.128 38.4831 48.7107 37.3178 49.876C36.2138 51.0413 35.6618 52.6667 35.6618 54.752V87.78H27.1978Z"
    ></path>
  </svg>
</div>

<style>
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
</style>
