---
import Logo from "../assets/logo.svg";
import "@fontsource/museomoderno";
---

<div id="container">
  <Logo />

  <!-- <div id="container">
    <h1>Romuald Tisserand</h1>
    <h2>Consultant Produit / Design / Tech</h2>
    <p>romuald@rinno.fr</p>
    <p>+33 666 72 99 63</p>
  </div> -->
</div>

<style>
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* flex-direction: column; */
  }

  /* h1 {
    font-family: "MuseoModerno", sans-serif;
    font-size: 4rem;
    color: #fff;
  }

  h2 {
    font-family: "MuseoModerno", sans-serif;
    font-size: 2rem;
    color: #fff;
  }

  p {
    font-family: "MuseoModerno", sans-serif;
    font-size: 1.5rem;
    color: #fff;
    font-style: italic;
    margin-top: 0rem;
    margin-bottom: 0rem;
  } */
</style>
