<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rinno</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  :root {
    --background-color: #e5f0ff; /* Bleu */
    --primary-color: #856632; /* Vert */
    --accent-color: #e74c3c; /* Rouge */
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #e5f0ff;
  }
</style>
